.product{
    border: 8px solid black;
    display: inline-block;
    width: 240px;
    height: 320px;
    margin: 5px 7px;
    border-radius: 5px;
    
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

.card-body {
    text-align: center;
}